<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <!-- Dependent class confg  -->
        <bean id="dt" class="java.util.Date">
        <property name="year" value="110"></property>
        <property name="month" value="10"></property>
        <property name="date" value="28"></property>
        </bean>
        
        <bean id="dt1" class="java.util.Date"></bean>
        
        <!-- Target class confg -->
        <bean id="wmg" class="com.vijay.beans.WishMessageGenerator">
        <constructor-arg ref="dt"/>
        <property name="Date" ref="dt1" ></property>
        </bean>
        
        
        </beans>